@import "tailwindcss";

@theme {
  --color-primary: #38bd55;
  --color-secondary: #e07c34;
  --color-black: #171717;
  --color-black-secondary: #242424;
  --color-white: #ffffff
}

* {
  font-family: "Afacad", serif;
}